body {
    margin: 0%;
    display: flex;
    flex-direction: row;
    font-family: 'Aboreto', cursive;
}

.city {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.left-main {
    background-color: aqua;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-image: url("images/redd-f-Dl_Ya8eNRpk-unsplash.jpg");
    background-size: cover;
    justify-content: center;
}

.logo-container{
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40em;

}

.left-main img {
    margin: 20px;
    max-width: 150px;
}

.right-main {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;

}

.header{
    display: flex;
    height: 40%;
    background-color: rgb(240, 240, 240);
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    background-color: rgb(255, 255, 255);
    height:20%;
    flex-direction: column;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: rgb(240, 240, 240);
    height: 40%;
    flex-direction: column;
}

.header-text {
    margin: 100px 50px;
    font-size: 2rem;
    font-weight: bold;
}

fieldset {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
label {
    display: block;
    font-size: 1.1rem;
}
input {
    margin: 0px 20px;
    border-color: #E5E7EB;
    border-radius: 5px;
}

button {
    height: 50px;
    width: 225px;
    margin: 50px;
    background-color: rgb(211, 195, 123);
    border-radius: 10px;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
}

.login {
    font-size: 1;
    margin-top: -20px;
    margin-left: 20px;
}

input:invalid {
    background-color: rgb(255, 188, 188);
}

input:focus {
    border-color: rgb(211, 195, 123);
    outline: none;
}

span {
    color: white;
    align-self: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
}